
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Average+Sans&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Average+Sans&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Tilt+Neon&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Average+Sans&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&family=Tilt+Neon&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Zen+Antique&display=swap');

*{
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

/*-----------home-page-styling------------*/

#home-page {
  background-color: #0c142b;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #0f2027);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;

}
hr {
  padding:0.5px 0 ;
  background-color: white;


}
 #nav-list {
  color: white;
  background-color:#121212;
  width:fit-content;
  display:none;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
   padding:0 2rem;
  
  list-style: none;
  font-size: 1.1rem;
  position: absolute;
  height:100%;
  z-index: 2;

   }
   #nav-list #home {
    margin-top:50%;
   }
   #nav-list #close-btn {
        font-size: 2.3rem;
        color: white;
        background-color: inherit;
        border: none;
        width:2rem;
        margin-top:10%;
        margin-left: 85%;
        cursor: pointer;
   }
   .nav-item {
    cursor: pointer;
    font-weight: bold;
   }
    a {
      text-decoration: none;
      color: inherit;
    }
   .nav-item:hover {
    color: #1bddb9;
    animation: item-motion 0.3s ease-in forwards;
   }
  @keyframes item-motion {
    to {
      transform: translateX(8px);
    }
  }

 /*-------home-page---header----styling---------*/

     header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:1.6rem 0.8rem; 
    background-color: rgb(27, 26, 26);
 }
 .material-symbols-outlined {
  font-size: 1.8rem !important;
  color: white;
  cursor: pointer;  
}
 #brand-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #brand-name {
    font-family: "Zen Antique", serif;
    font-weight: normal;
    font-size:2.3rem;
    background: linear-gradient(to right, #cbe943, #11f0c7);
    background-clip: text;
    color: transparent;
  }
  #brand-tag-line {
    font-family: "Oxanium", sans-serif;
    letter-spacing:1px;
    font-size:0.5rem;
    color: white;
  }
   #brand-hr {
    animation: line-motion 1s ease-in 1 forwards;
    padding:1.8px;
    background: linear-gradient(to right, #e99343, #88f011);
    border: none;
    border-radius: 5px;
    padding:1.8px ;
    width:0;
    
   }
  @keyframes line-motion {
  
    to {
      width:70%;
    }
  }
   #join-btn {
    background-color:rgb(100, 225, 241);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    padding:0.3rem 0.7rem;
    font-weight: bold;
    border: none;
    border-radius: 0.9rem;
    cursor: pointer; 
   }
   #join-btn:hover{
    transition: 0.4s;
    background-color:rgb(18, 178, 199);
    color: white;
    box-shadow: 0px 5px 15px rgba(56, 182, 255, 0.5);
   }
  
   /*-------home-page---hero----styling---------*/

      #hero  {
    display: flex;
   margin-top: 2rem;
   background-image: url("assets/hero-section-pic.png");
   background-size: 100%;
   background-repeat: no-repeat;
   animation: img-motion 2s ease forwards;
   padding: 1rem 0;
   }

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

   #hero-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: white;
    margin-top: 13rem;
    text-align: center;
   }
   @keyframes img-motion {
    from {
      transform: translateX(30px);
    }
    to {
        transform: translateX(0);
    }
  }
  #welcome-line {
    font-family: "Zain", sans-serif;
    font-size: 3rem;
    animation: img-motion 1.2s ease forwards;
  }
  #hero-heading {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    color: #00ffff;
    font-size: 1.7rem;
    font-weight: bold;
    animation: img-motion 1.4s ease forwards;
  }
  #discription-getsaaram {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 1rem;
    line-height: 1.45;
    animation: img-motion 1.5s ease forwards;
  }
       #hero-buttons {
        display: flex;
        gap:2rem;
        padding: 1rem;
       }
       .hero-btn {
        border: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:1.1rem;
        padding:0.4rem 0.7rem;
        border-radius: 0.5rem;
        background-color:  #ffd700;
       }
       .hero-btn:hover {
        background-color:inherit;
        color:white;
        border: 2px solid white;
        transform: scale(1.05);
        box-shadow: 0px 5px 15px rgba(56, 182, 255, 0.5);
      }
      
       #explore-btn {
        background: inherit;
        color: white;
        border: 2px solid white;
       }
       #explore-btn:hover {
        background-color:  #ffd700;
        color:black;
        border: 2px solid  #ffd700;
       }
  
        /*-------home-page---features----styling---------*/

        #features {
          padding: 2rem 1.5rem;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap:1.5rem;
          background:linear-gradient(60deg,#0A0A23,rgb(0, 0, 0),#040444);
        
        
        }
        #features-headline {
          font-size:1.8rem;
          font-family: "Zain", sans-serif;
          color: #FFD700;
        }
        .feature-card {
          padding: 2rem 1rem ;
          border: 2px solid #650cbe;
          border-radius: 0.7rem;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          cursor: pointer;
        }
        .feature-card:hover {
          transform: translateY(-15px);
          transition:0.4s;
        }
        .feature-headline {
          font-family: "Average Sans", sans-serif;
        }
        .feature-discription {
          
          font-family: "Tilt Neon", sans-serif;
          opacity: 0.8;
        }
          
         #explore-now-btn {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1.2rem;
          padding: 0.6rem 1rem;
          background: linear-gradient(45deg,#48058b,black);
          color: white;
          border:2px solid black;
          border-radius:0.3rem;
          cursor: pointer;
         }
         #explore-now-btn:hover {
          border:2px solid white;
          transition: 1s;
          box-shadow: 0px 5px 15px rgba(56, 182, 255, 0.5);
         }

          /*-------home-page---feedback----styling---------*/
   
          #feedback {
            padding: 2rem 0.5rem;
            background:#0f172a;
            color: white;
            display: flex;
            flex-direction: column;
            align-items:center;
            gap: 1rem;
          }
          #feedback-headline {
           font-size: 1.1rem;
          }
          #feedback-discription {
            font-family: "Zain", sans-serif;
            font-size: 1rem;
           
          }
          #feedback-form {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            align-items: center;
          }
          #feedback-area {
            width: 19rem;
            height: 6rem;
            font-size:1.3rem;
            font-family: monospace;
          }
          #feedback-btn {
            border: none;
            font-size: 1rem;
            padding:0.5rem 1rem;
          background:linear-gradient(45deg,hwb(217 5% 13%),black);
            border-radius: 0.5rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            border:2px solid black;
            cursor: pointer;
          }
          #feedback-btn:hover {
            border:2px solid white;
            transition: 0.4s;
          }

            /*-----------about-page-style--------------*/

           #about-content {
            background: linear-gradient( 177.6deg,  rgba(20,0,113,1) 15.3%, rgba(1,0,62,1) 91.3% );
            color: white;                     
            display: flex;
            flex-direction: column;                        
            gap: 2rem;   
            padding:2rem 0;                                                                                                                     
        }
          .about-contact-headline  {
            font-family: "Roboto Flex", sans-serif;
            font-weight:500;
            padding: 0 1.5rem;
            
          }
          #about-img {
            padding: 0 2rem;
          }
        #about-discription {
          font-family: "Zain", sans-serif;
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.45;
          text-indent: 0.5rem;
          padding: 0 0.8rem;
        }
        #contact-discription {
          font-family: "Zain", sans-serif;
          padding: 0 3rem;
        }
        #copyright-text {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1.1em;
          text-align: center;
        }